*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #0B3E27;
  }
  
  header img {
      width: 5%;
      margin-left: 2rem;
  }
  
  nav {
      margin: 1.5rem;
  }
  
  nav a {
      margin: 1rem;
      font-size: 1rem;
      text-decoration: none;
      color: black;
  }
  
  .btn-panier {
      display: flex;
      margin-top: 1rem;
      margin-right: 2rem;
      border: 1px solid black;
      padding: 0.7rem;
      margin-bottom: 1rem;
      background-color: #ADFF45;
  }
  
  .btn-panier .iconify {
      padding-right: 0.5rem;
  }
  
  .btn-panier h3 {
      font-size: 1rem;
      font-weight: 800;
  }
  
  a {
      text-decoration: none;
      color: black;
  }
  

  /* page produit */

.produit-i{
    width: 60%;
    margin-left: 20%;
    
}